<div class="container">
    <div class="row">
        <div class="one-third column">&nbsp;</div>
        <div class="one-third column">
            <nav>
                <ul>
                    <li><a class="button" href="#dog">Dog</a></li>
                    <li><a class="button" href="#cat">Cat</a></li>
                    <li><a class="button" href="#pig">Pig</a></li>
                </ul>
            </nav>
        </div>
        <div class="one-third column">&nbsp;</div>
    </div>
</div>